- 	
	var pos_types = [
		{
			title: "技术",
			pos: [{
				title: "Web前端实习生",
				descriptions: [
					"快站平台移动端（HTML5）核心模块开发与维护"
				],
				demands: [
					"熟练掌握 HTML/CSS/JavaScript 等前端开发技术",
					"掌握HTTP，OAuth 等Web标准协议",
					"计算机软件相关专业背景，具备互联网相关项目经验",
					"211/985 院校学生优先，每周实习时间至少4天"
				]
			}, {
				title: "Web后端研发实习生",
				descriptions: [
					"快站平台功能模块设计、开发与更新迭代"
				],
				demands: [
					"扎实的计算机专业基本功",
					"1年以上 Java/Python/PHP/Node.js 后端开发经验",
					"了解相关语言的流行开源框架和数据库原理",
					"能够应用MySQL进行应用开发，使用过至少一种 NoSQL (包括但不限于 Redis、MongoDB )数据库",
					"有较强的逻辑思维能力，善于分析、归纳、解决问题；能够独立或带队进行项目开发",
					"有业务系统开发经验或研究过优秀开源软件的源码并有心得者优先"
				]
			}, {
				title: "Android开发习生",
				descriptions: [
					"负责快站app模块相关的开发和维护"
				], 
				demands: [
					"熟悉Java，面向对象编程，并理解Java虚拟机原理",
					"熟悉Http网络协议，网络请求，数据处理，熟悉数据结构和算法",
					"熟悉Android框架及特性，了解设计模式，掌握Android多线程，消息机制，View绘制原理，对App性能优化有一定了解",
					"善于思考，对Android开发有浓厚兴趣",
					"有Android实习经验优先"
				]
			}, {
				title: "算法实习生",
				descriptions: [
					"结合移动业务特点，研发高质量的个性化推荐算法和内容处理算法",
					"追踪个性化推荐、NLP和机器学习领域的前沿技术，将前沿技术应用于实际业务"
				],
				demands: [
					"计算机相关专业本科及以上学历，具备扎实的数据结构和算法基础",
					"精通Java或Python，能熟练编写规范代码",
					"熟悉自然语言处理/机器学习/数据挖掘领域，模型实战经验丰富者加分",
					"较强的分析和解决问题的能力，针对实际问题能够快速提出算法方案并编码验证效果",
					"熟悉Linux开发环境，有spark/tensorflow/caffe等平台经验者加分",
					"有过kaggle/天池等比赛经历且名次优异者加分"
				]
			}]
		}, {
			title: "产品",
			pos: [{
				title: "产品运营",
				descriptions: [
					"用户运营：能与用户有效地沟通，引导现有用户优化体验，吸引潜力用户入驻",
					"内容运营：熟悉能独立完成各种文案的创作和编辑，完成教程类文案的写",
					"活动运营：针对业务需求，有计划的组织线上线下活动、专题的策划工作",
					"数据运营：根据快站相关数据，有针对性的运营"
				],
				demands: [
					"热爱运营工作，具备较强的学习能力，能快速熟悉搜狐快站各业务线",
					"具备良好的沟通协调能力及文字表达能力，有相关互联网运营经验者优先",
					"具有良好的审美能力，熟练使用PS等设计软件者优先",
					"我们能提供：",
					"足够的平台尝试你的新想法，具有广阔的上升空间",
					"具有竞争力的实习工资，完善的福利保障",
					"正规实习、系统培训、导师指导"
				]
			}]
		}, {
			title: "设计",
			pos: [{
				title: "设计师",
				descriptions: [
					"负责快站相关产品视觉设计和交互效果设计"
				],
				demands: [
					"能够从规范层面思考问题者优先，具备出品持久耐用的设计规范、交互规范的能力",
					"具备灵活使用设计风格的能力，能够从业务角度出发，满足业务要求",
					"具备 Web/App 产品设计经验者优先",
					"发送简历时请附上个人近期作品集"
				]
			}]
		}
	];
- 	var hope = "我们希望通过丰富的产品体系和简单友好的操作让每个用户都能拥有专业级的移动站点，让他们的想法和创意不受技术的限制。"
-
	var requests = [
		"简历投递注明：【职位名称】+【姓名】+【联系方式】，设计类职位需要附带个人作品集",
	];
-  	var hr_email = { name: "待定", href: "" };
- 	
	var img_urls = [
		"/images/about-us-first.jpeg",
		"/images/about-us-second.jpeg",
		"/images/about-us-third.jpeg",
		"/images/about-us-fourth.jpeg",
		"/images/about-us-fifth.jpeg"
	];